<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
        <!-- Drop down menu -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Monitoring
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Start</a></li>
                <li><a class="dropdown-item" href="#">Stop</a></li>
                <li><a class="dropdown-item" href="#">Restart</a></li>
                <li><a class="dropdown-item" href="#">Status</a></li>
            </ul>
      <!-- Actions Dorp down menu -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Players
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Currently Connected</a></li>
                <li><a class="dropdown-item" href="#">Player Manager</a></li>
            </ul>
        <li class="nav-item">
            <a class="nav-link" href="#">Server Settings</a>
        </li>
    </ul>
</div>