<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<%- include('partials/Header.ejs') %>
<body>
<% if(isAuthenticated) {%>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <%- include('partials/PanelNavigation.ejs') %> <!-- Include the panel navigation -->
    </div>
</nav>
<% } %>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>
                    <% if (typeof error !== 'undefined') { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary text-white">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/Footer.ejs') %>
</body>
</html>
